[2021-09-21 23:46] AdamCollings opened #3 "AuthP Assuming Cookie-Based IdentityUser"
While AuthP can be used with any authentication provider by implementing a custom `ISyncAuthenticationUsers `, when executing the finalise methods, such as `SetupAspNetCoreAndDatabase` it assumes the application is using cookies and `IdentityUser` which makes it unsuitable for services like Azure AD and B2C and causes the following exception.

`System.AggregateException: 'Some services are not abl

[2021-10-05 13:59] JonPSmith commented on #3
Hi @AdamCollings,

I have updated AuthP to work with Azure AD but I haven't released it yet. If you have time could you look at:

- [Authentication explained](https://github.com/JonPSmith/AuthPermissions.AspNetCore/wiki/Authentication-explained) (this doc is not in the sidebar)
- [Setup Authentication](https://github.com/JonPSmith/AuthPermissions.AspNetCore/wiki/Setup-Authentication) (this doc is

[2021-10-05 20:47] petrubocsanean opened #4 "Apply Migration based on Database Provider"
Hi @JonPSmith

I've added PostgreSQL database provider in my fork however I had to delete the migrations classes from the DataLayer folder, change the DB provider in `DesignTimeContextFactory` class and generate new ones. I was wondering on how to do this dynamically.  I was thinking to generate migrations for PostgreSQL under a different folder and in `SetupExtensions` class apply them based on t

[2021-10-06 07:59] JonPSmith commented on #4
Hi @petrubocsanean,

I'm planning to do this in version 2 so I have thought about it. Its a bit complex and there are steps I haven't checked out yet, but I know that you need a two projects, one for the SQL Server migrations and one for PostgreSQL. Have a look at an [EF Core standup on migrations](https://www.youtube.com/watch?v=mSsGERmrhnE) - that has some useful information on this.

PS. Be awa

[2021-10-07 14:33] #4 closed

[2021-10-08 21:37] kcaswick opened #6 "Needs example of sociable unit testing/integration testing using WebApplicationFactory<Startup>"
I've been unable to figure out how to [mock authenticate](https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-5.0#mock-authentication) in my existing sociable unit tests that use [CustomWebApplicationFactory&lt;Startup&gt;](https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-5.0#customize-webapplicationfactory) to create a TestServer.

[2021-10-11 17:51] mabouchalkha opened #7 "Is this library works with Azure B2C"
Hi,
I found your library very interesting, I would like to know if it works on net core api api with Azure B2C out of the box.
Thank you

[2021-10-12 09:05] #7 closed

[2021-10-13 07:35] JonPSmith commented on #6
First thing: the exception in Microsoft's code, not AuthP code but I do wonder if its because AuthP code uses the recommended `SecurityAlgorithms.HmacSha256Signature` and not `SecurityAlgorithms.HmacSha256`. Worth a check.

Yep, this code is complex and any way you can simplify is going to help.

I'll close this for now, but if you want to reopen it again I happy to help.

[2021-11-09 15:27] nsfuntionality opened #8 "Example 3 App Auth Setup Data - string not formatted Correctly"
I am trying to run the repo, but for some reason, it's not adding any user to the AuthUsers Table.
-----------------------------------------------------------------------------------------------
Error:

An error occurred while starting the application.
AuthPermissionsBadDataException: True:
Line/index 2, char: 1: The role App Admin wasn't found in the auth database.
App Admin
|
Line/index 1: The u

[2021-11-10 08:54] JonPSmith commented on #8
Hi @nsfuntionality,

I ran example 3 in my repo and it worked. I also deleted the database and ran it again to check it wasn't working because there was a database already there.

What I did find was I hadn't merged a change I had change for issue #4. Maybe that caused a problem. Please pull the latest commits and delete the database called "aspnet-Example3.MvcWebApp.IndividualAccounts-66CDC4E0-F9

[2021-11-10 13:50] nsfuntionality commented on #8
so looks like that has fixed the issue is resolved. now in my project, I was using the NuGet package, is that also updated? OR do i need a make a new one from the repo and use that in my project?

[2021-11-10 14:10] JonPSmith commented on #8
Great! Sorry about that.

The current  AuthPermissions.AspNetCore NuGet package 1.4.0 contains the fixes - I just hadn't committed the code.

PS. I will be updating this library to EF Core 6, but I plan to add other features at the same time, like supporting PostgreSQL databases. That needs a big refactor of the code so it won't be soon.

[2021-11-10 14:10] #8 closed

[2021-12-04 11:32] JonPSmith opened #9 "Version 2: Multi-tenant roles improvements"
Version 1 of the AuthP library allowed you to create multi-tenant / SaaS applications and introduced the feature of a [Tenant Admin](https://github.com/JonPSmith/AuthPermissions.AspNetCore/wiki/Multi-tenant-explained#the-concept-of-an-tenant-admin-user) who could manage users within a tenant. That reduces the work on the support people for your application.

In version 1 of AuthP library the Tenan

[2021-12-04 14:07] JonPSmith opened #10 "Version 2: Multi-tenant, Access the data of another tenant user"
In the original multi-tenant application I designed the App Admin (i.e. a user manages the whole application, not linked to tenant) needed to access the data that a tenant user to understand / fix an tenant user's data.

In AuthP version 2 I will add a "Access data as another tenant user" feature which will override the DataKey of the current user with the `DataKey` from the selected tenant user.

[2021-12-06 12:26] cwbrandsdal opened #11 "Not working with EntityFrameworkCore 6.0.0"
When using the package in .Net 6.0 I run into this error: Method not found: 'System.Type Microsoft.EntityFrameworkCore.Metadata.ITypeBase.get_ClrType()'.

Here is the stack:

`   at AuthPermissions.DataLayer.EfCode.DataKeyQueryExtension.AddHierarchicalTenantReadOnlyQueryFilter(IMutableEntityType entityData, IDataKeyFilterReadOnly dataKey)
   at Infrastructure.Data.AppDbContext.OnModelCreating(Mode

[2021-12-06 15:11] JonPSmith commented on #11
Hi @cwbrandsdal,

Unfortunately version 1 of this library only works with net5, as stated in [AuthPermissions.AspNetCore Roadmap](https://github.com/JonPSmith/AuthPermissions.AspNetCore/discussions/2). EF Core made a breaking change to the code which caused problem you have seen.

I am currently working on Version 2 which supports net6, plus has a number of improvements and features, especially fo

[2021-12-06 15:11] #11 closed

[2021-12-17 10:57] JonPSmith opened #12 "Critical bug: hierarchical multi-tenant applications to sometimes access another tenant’s data."
While working on Version 2 of this library I found a bug in the use of the `DataKey` which can cause hierarchical multi-tenant applications to sometimes access another tenant’s data. This is therefore a **critical bug**.

This bug is fixed in AuthPermissions.AspNetCore 2.0.0.

BUT if you built a **single or hierarchical multi-tenant application using Version 1** of this library, then you need to m

[2021-12-17 10:57] #12 closed

[2022-01-03 10:55] JonPSmith opened #13 "Multi-tenant Roles: Problem when changing a Roles RoleType or when deleting"
With the new multi-tenant Role types (see [this explanation](https://github.com/JonPSmith/AuthPermissions.AspNetCore/wiki/Roles-explained#different-types-of-roles-for-multi-tenant-applications) about multi-tenant Role types in the docs) in version 2.0.0 are two issues that haven't been covered in the current release (2.1.0). They are

## 1. Changing the `RoleType` can cause problems

The issues ar

[2022-01-05 09:21] JonPSmith opened #14 "Improvement to the multi-tenant ITenantChangeService to better support sharding"
An application using AuthP's multi-tenant feature requires a service that implements the `ITenantChangeService` which is called when a tenant is created, updated, moved or deleted. The current implementation creates a transaction that covers both the AuthP DbContext and the application's DbContext.

This works, but has the following limitations:

- The AuthP DbContext and the application's DbConte

[2022-01-05 12:18] FELS-Zak commented on #14
Agree :-)  Just found this project - Does it have to use SQL server ?

[2022-01-05 12:22] JonPSmith commented on #14
Have a look at the [Roadmap discussions](https://github.com/JonPSmith/AuthPermissions.AspNetCore/discussions/2) for a roadmap of what I'm planning to do - that includes supporting PostgreSQL, but no other database types.

[2022-01-05 15:19] JonPSmith commented on #14
PS. @FELS-Zak, why were you interested with this feature?

- You want to use sharding in a multi-tenant app.
- You want a simpler way to handle tenants on your application side.
- You were just interested in this library.

[2022-01-07 14:15] JonPSmith commented on #9
Documents updated to version 2.1.0 that implements this feature

[2022-01-07 14:15] #9 closed

[2022-01-13 12:08] JonPSmith opened #15 "The updating of a user's tenant in a multi-tenant application needs work, as the Roles might change."
If an app admin creates a new tenant user or update an existing tenant user it won't show the correct Roles when use the user admin method called `GetRoleNamesForUsersAsync`. The `GetRoleNamesForUsersAsync` method takes in the user's userId. This has two problems:

- When creating a user you won't get the correct tenant users because the tenant isn't set.
- If you change the tenant that a user is

[2022-01-14 14:46] JonPSmith commented on #10
Version 2.2.0 is out and the documentation for the "link to tenant data" feature can be [found here](https://github.com/JonPSmith/AuthPermissions.AspNetCore/wiki/Multi-tenant:-Link-to-tenant-data).

[2022-01-15 12:52] dajma00 opened #16 "Adding AuthPermissions to an existing Blazor WASM app"
What are the steps to follow if I want to covert and existing Blazor app to multi-tenant?

[2022-01-15 12:57] dajma00 opened #17 "MySQL support"
I have an existing application that already uses MySQL. Can I use it with AuthPermissions library?

[2022-01-15 15:22] JonPSmith commented on #17
No, it doesn't support MySQL. Sorry.

[2022-01-15 15:22] #17 closed

[2022-01-15 15:24] JonPSmith commented on #16
See the my reply to [this comment](https://github.com/JonPSmith/AuthPermissions.AspNetCore/discussions/2#discussioncomment-1843268)

[2022-01-15 15:24] #16 closed

[2022-01-21 12:49] HybridSolutions opened #19 ".NET Core Identity"
Would love to see this implemented but over .NET Core Identity. Any chance of that happening?

[2022-01-22 08:49] JonPSmith commented on #19
hi @HybridSolutions,

I'm not sure what you mean by that. Microsoft's Identity is all about authentication, and this library links to ASP.NET Core's authentication providers. There must be something I'm missing in your comment

[2022-01-27 15:39] JonPSmith opened #20 "Hierarchical multi-tenant - should tenant roles of the parent tenant be passed down to a new sub-tenant?"
At the moment, when you add a new hierarchical tenant you would need add any tenant Roles for the new tenant. However, it might be useful to automatically take the tenant Roles of the parent tenant?

If this was implemented, then what happens if you move a tenant - does it copies the new parent's tenant Roles? - most likely that is the correct answer.

[2022-01-30 16:45] Kiwiz777 opened #21 "Using with identityuser type int"
hi there
i am trying to use IndividualAccountsAuthentication<TCustomIdentityUser>
which in my case class named AppUser inheriting from identity user
`class AppUser : IdentityUser<int>`
and i get an error
/*
Error	CS0311	The type 'RivaWeb.Models.AppUser' cannot be used as type parameter 'TCustomIdentityUser' in the generic type or method 'SetupExtensions.IndividualAccountsAuthentication<TCustomIden

[2022-01-31 11:47] JonPSmith commented on #21
Hi @Kiwiz777

This library relies on a userId that is a string, so you can't have a `IdentityUser<int>`. Sorry, but that is limitation of the library

[2022-01-31 11:47] #21 closed

[2022-02-06 09:53] JonPSmith opened #22 "Hierarchical multi-tenant - problem when using the Move feature means some logged-in users will have the wrong DataKey"
There is a problem when using the [hierarchical Move feature](https://github.com/JonPSmith/AuthPermissions.AspNetCore/wiki/Hierarchical-Multi-Tenant#moving-a-hierarchical-tenant) with the current arrangement. The problem comes that logged-in users that are linked to tenants that have been moved will have the wrong DataKey. This could cause lots of problems.

The best solution is remove the DataKey

[2022-02-15 09:41] JonPSmith commented on #22
While replacing the DataKey with the tenant primary key (tenantId) is one way around this problem, the the 2.3.0 version of this library provides a non-breaking approach. This two features in version 2.3.0, they are

- Add a `IRegisterStateChangeEvent` service to detect a change to a DataKey and update the LastUpdatedUtc in a global storage.
- Add a LastUpdatedUtc claim into the user and use the c

[2022-02-15 09:48] #22 closed

[2022-02-17 08:56] JonPSmith commented on #13
Here is a list of possible changes and what you should do for each one

| Original RoleType | New RoleType | In Users? | In Tenants? |
| ------------------ | -------------- | ----- | -------- |
| Normal | TenantAutoAdd | ERROR |  impossible |
| Normal | TenantAdminAdd | ERROR | impossible |
| Normal | HiddenFromTenant | Error if user has tenant |  impossible |
| TenantAutoAdd | Normal | impossible

[2022-02-26 14:31] JonPSmith commented on #13
Fixed in version 2.3.0

[2022-02-26 14:31] #13 closed

[2022-02-26 14:31] JonPSmith commented on #15
Fixed in version 2.3.0

[2022-02-26 14:31] #15 closed

[2022-02-28 17:59] muliswilliam opened #23 "Exception using SignInManager"
I am getting the following exception when attempting to login a user with email and password:
[code]
The login code is as follows:
[code]

[2022-03-02 11:00] JonPSmith commented on #23
The exception is from a query of `RoleToPermissions` which must be within my code, but I can't see anything that matches that. I have also run the Example2 and it works. Make sure you have the latest version of the AuthP.

If it still throws an exception, then you need to find where it happens - if the  exception doesn't provide that then you need to debug it to find where it goes wrong.

[2022-03-02 19:43] muliswilliam commented on #23
The issue seems to be in `CalcPermissionsForUserAsync` in `ClaimsCalculator`.  The changes are:
- Added `.Include(x => x.Role)` fetching permissions
- Added
[code]
when fetching tenant Roles.

When I made the changes, the code does not throw the exception.

The whole method is as follows:

[code]

[2022-03-03 13:52] muliswilliam commented on #23
Hi @JonPSmith,

Here's my configuration in `Program.cs`, I am using .net6:

[code]
The permissions are as below:
[code]

The `AppAuthSetupData` which contains sample data is as  follows:
[code]

[2022-03-03 19:19] JonPSmith commented on #23
Hi @muliswilliam,

OK, your setup is very standard and you don't use any tenant-specific Roles. My tests include some to check this and I can't see why it doesn't work. So, could you please

1. Update your clone of the AuthP repo (I found tests that were out of data and updated them) and run all the tests and tell me if they all pass. I think they will pass, but this just that there isn't differen

[2022-03-05 12:02] muliswilliam commented on #23
@JonPSmith The above code for `CalcPermissionsForUserAsync` works. You can release a new version with the code. I will run the tests and update here.

[2022-03-05 15:21] JonPSmith commented on #23
Version 2.3.1 fixes this issue. Thanks for your patience @muliswilliam

[2022-03-10 15:07] JonPSmith commented on #20
Another way to manage this is described in [this section](https://www.thereformedprogrammer.net/advanced-techniques-around-asp-net-core-users-and-their-claims/#4-refreshing-the-logged-in-users-claims-on-an-event) of the article called "Advanced techniques around ASP.NET Core Users and their claims".

[2022-03-10 15:07] #20 closed

[2022-03-15 09:47] JonPSmith commented on #14
In AuthP versions before version 3 the aim was to get all the multi-tenant data within one database. In this case AuthP used a [external DbTransactions](https://docs.microsoft.com/en-us/ef/core/saving/transactions#using-external-dbtransactions-relational-databases-only) approach. This provides one transaction that covers two DbContexts at the same time, but the code is rather complex as couldn't g

[2022-03-19 11:48] akema-trebla commented on #14
[this](https://github.com/JonPSmith/AuthPermissions.AspNetCore/blob/main/UpdateToVersion3.md) seems to be broken

[2022-03-19 11:51] akema-trebla commented on #14
Is there a reason you're not considering other database types like MySQL, Oracle?

[2022-03-20 10:08] JonPSmith commented on #14
Hi @akema-trebla,

Yep, that won't be out until version 3.

This library is _really_ complex and is taking a lot of work, which I do for free. The more database types a support requires extra work, but the real reason I want to support lots of databases is the yearly update to the library to the changes in EF Core for each database type.

[2022-04-04 10:41] JonPSmith commented on #14
Implemented in version 3

[2022-04-04 10:41] #14 closed

[2022-04-19 08:58] JonPSmith opened #29 "Changes needed to the sharding feature to work in production"
Version 3.0.0 introduced a [sharding approach](https://github.com/JonPSmith/AuthPermissions.AspNetCore/wiki/Multi-tenant-explained#2-defining-the-three-multi-tenant-database-arrangements) which allows a multi-tenant application to use multiple databases to place tenant data into. The version 3.0.0 used the "ConnectionStrings" section of the appsettings file, using the names of the connection strin

[2022-05-06 02:15] Kurris opened #32 "wrong project tag “sass”-->“saas”"

[2022-05-06 15:52] JonPSmith commented on #32
Thanks. Fixed.

[2022-05-06 15:52] #32 closed

[2022-05-07 13:07] JonPSmith commented on #29
This change was implemented in version 3.2.0.

[2022-05-07 13:07] #29 closed

[2022-05-09 12:34] eslamo opened #33 "Guide request for MultiTenancy and Permissions using IdentityServer4"
Thank you for your great library.

I hope you can share an example how I can use this library to have multi tenant api integrated with IdentityServer4

[2022-05-09 17:27] JonPSmith commented on #33
Hi @eslamo,

You can use IdentityServer with AuthP as it implements the [OpenId](https://www.thereformedprogrammer.net/advanced-techniques-around-asp-net-core-users-and-their-claims/#1b-openid-connect) connection. But IdentityServer is designed to provides its own authentication data (known as _Scopes_), but the AuthP library uses its own authentication data known as [Roles](https://github.com/Jon

[2022-05-10 07:05] eslamo commented on #33
Thanks @JonPSmith for your great explination and details and I hope I can find better solution to connect multiple apps using OpenID and keep using AuthP cause I like the versioning feature and Permission based authentication cause it give more felexibility to the app.

[2022-05-10 07:05] #33 closed

[2022-05-14 12:56] JonPSmith opened #34 "AuthP AzureAD handler: make it "create new AuthP user" include default roles"
The [AuthP AzureAD handler](https://github.com/JonPSmith/AuthPermissions.AspNetCore/blob/main/AuthPermissions.AspNetCore/OpenIdCode/AzureAdOpenIdExtension.cs) can add a new AuthP user if the user isn't already in the AuthP user list if the `AddNewUserIfNotPresent` setting is set to true. But the current version doesn't add any AuthP Roles to the new AuthP user.

In some cases you might want to pro

[2022-05-21 09:43] JonPSmith opened #35 "Emails should be normalised, as the Postgres database is case sensative"
In the current version of AuthP (3.2.0) the email of a user is stored as the user provides it. But an email is NOT case sensitive. This will be a problem as Postgres is case sensative.

The simplest way to do this is add a `.Lower` to the email in the `AuthUser` class
## Things to do

- Add a `.Lower` to the email in the `AuthUser` class (note: do after the username has as been set). **DONE**
- Ap

[2022-05-30 00:23] akema-trebla opened #36 "Refreshing JWT adds duplicate audiences to token"
The current implementation of getting the claims for the new token from the ClaimsPricipal of the expired token, creates duplicate audiences and thus fails after the first token refresh.

Recalculating the claims based on the userId from the ClaimsPrincipal resolves this issue.

[2022-05-30 09:33] akema-trebla opened #38 "Create Blazor Demo"
It appears there's a lot of interest in an AuthP demo with a Blazor application.

I noticed one of the Discussions (#31), wanted to find out how to do this from a Blazor WASM application in particular.

So with @JonPSmith's blessing, I'll be taking the Example 4 project and converting it into a Blazor application.

I'll be creating

- A Web API backend project
- A Blazor WASM hosted project

[2022-05-30 10:55] JonPSmith opened #39 "Improvement to `ShardingConnections.GetDatabaseInfoNamesWithTenantNamesAsync` method"
The `GetDatabaseInfoNamesWithTenantNamesAsync` method returns a list of the names of the databases found in the shardingsettings.json file, with information on what tenants are in each database. This is useful when a tenant is created or moved as  you need to select a database to hold the new tenant.

In version 3.2.0 of this library the `GetDatabaseInfoNamesWithTenantNamesAsync` method returned a

[2022-05-30 14:10] JonPSmith commented on #38
Hi @akema-trebla,

Great to see you doing this!

I just wanted to alert that I am currently improving Example3 (in the `dev` branch) with a better ["sign up / versioning"](https://www.thereformedprogrammer.net/multi-tenant-apps-with-different-versions-can-increase-your-profits/) and ["invite user"](https://www.thereformedprogrammer.net/building-asp-net-core-and-ef-core-multi-tenant-apps-part2-admi

[2022-05-31 04:25] T-Alkathiri commented on #38
Hi @akema-trebla,
That will be awesome and appreciated very much.
Thank so much for your effort and time.

[2022-06-01 14:53] emorell96 opened #42 "Could the common code in AuthPermissions.BaseCode.CommonCode be moved to its own nuget?"
Hi,

I am starting to design my own SaaS application using your library and I was wondering if it's possible to publish the common code like the interfaces or POCOs as its own nuget. This would get rid of dependencies when you just need the interfaces.

Thanks, really liking the library otherwise, great job on it :)

[2022-06-02 17:04] JonPSmith commented on #36
Hi @akema-trebla,

Thanks for the pull request. Version 3.2.1 includes your fix and another fix from @emorell96, and it is released as a NuGet package now.

[2022-06-02 19:02] JonPSmith commented on #42
Hi @emorell96,

I'm really not keen on another NuGet linked to the AuthP NuGet - I have done that in an library and its a pain to work with and update. Also, there are only two the `DataKey` interfaces which are used a lot and they don't have any dependencies.

[2022-06-02 19:02] #42 closed

[2022-06-02 21:27] akema-trebla commented on #36
Hi @JonPSmith

That's great to know.  Happy to help.

[2022-06-07 09:40] JonPSmith commented on #42
Hi @emorell96,

I just had a question on using clean code architecture and wondered if that your question was because of clean code. I don't know if you are using clean code but here is an answer if that is your issue.

You don't have to use the `IDataKeyFilterReadWrite` etc. but you can define your own interface, which means you don't need to have the AuthP NuGet in your Domain project. The down

[2022-06-07 09:44] emorell96 commented on #42
Hi Jon, yes exactly that's why I asked this. That would make it so much easier to use when using clean architecture and keeping the domain class library as lean as possible on dependencies. I'll take a look.

I might as well just create my own core nuget from my own fork.

Btw, I am adding CancellationToken support to the library, I'll open a pr soon.

[2022-06-07 09:49] JonPSmith commented on #42
Great, glad that helps.

On the CancellationToken support can you create an issue to describe what you want to do. I'm currently working on a new version which has a lots of changes so its important what you want to do don't cause with the upcoming version which is in the `dev` branch at the moment.

[2022-06-07 09:51] emorell96 opened #44 "Adding CancellationToken support to async methods"
Hi,

I think it would be great if the library had CancellationToken support. After all, EF Core supports this already. It would just be a matter of forwarding the cancellation token to EF Core.

[2022-06-07 10:19] JonPSmith commented on #44
Developer shouldn't use the `AuthPermissionsDbContext` at all, but use the [Roles](https://github.com/JonPSmith/AuthPermissions.AspNetCore/wiki/Roles-admin-service), [Tenant](https://github.com/JonPSmith/AuthPermissions.AspNetCore/wiki/Single-level-Multi-Tenant) and [AuthUser](https://github.com/JonPSmith/AuthPermissions.AspNetCore/wiki/AuthUser-admin-service) services. Also, cancelling a  Cancell

[2022-06-07 10:23] emorell96 commented on #44
I meant adding CancellationToken support for the admin services.

For the exception, the exception is a TaskCancelled exception which is the default exception when an exception is cancelled. This is a developer issue not a user issue if a Task is cancelled. So IMO it shouldn't be an IStatusGeneric but an exception that the developer can easily catch and decide what to do.

[2022-06-07 10:30] emorell96 commented on #44
For example methods like this: https://github.com/JonPSmith/AuthPermissions.AspNetCore/blob/ab4d37f30500707ea9d618b1927cabc305173ce2/AuthPermissions/AdminCode/IAuthUsersAdminService.cs#L29

They could benefit from a CancellationToken so that if a developer uses this, he can decide to cancel the operation after x seconds or simply when the data is no longer needed. And it shouldn't be a IStatusGene

[2022-06-07 18:00] JonPSmith commented on #44
Hi @emorell96,

I have thought about this and I just don't think its worth it. All the methods access a normal database, not some microservice or HTTP api. Sorry.

If you want to do it then please have your own clone.

[2022-06-07 18:12] emorell96 commented on #44
Why would this only apply to an http api or a microservice? There's a reason the EF Core team uses cancelation tokens, it avoids having to waste database resources when the data is no longer needed, say the user navigates away before loading the data. This is a backend library and these features are c# features and best practices which allow the library to be used in high load scenarios as well.

[2022-06-08 11:08] #44 closed

[2022-06-11 16:53] Code420SW opened #45 "Invoke app-defined ITenantChangeService from BulkLoadTenantsService.AddTenantsToDatabaseAsync"
The app-defined ITenantChangeService is not invoked during the bulk-loading process (from BulkLoadTenantsService.AddTenantsToDatabaseAsync). This leaves the app-specific database (CompanyTenant in Example 3) in an inconsistent state after new tenants are added via the API.

This may be by-design for reasons I don't fully understand. If so, please close this issue. Otherwise, I am happy to pull a P

[2022-06-12 08:08] JonPSmith commented on #45
Hi @Code420SW,

The bulk load is only designed to set up the examples in this repo so that a developer can run an example and it will look like a fully production application. It bypasses a number of things, like ` ITenantChangeService` and doesn't support some things, like sharding.

Therefore Bulk Load shouldn't be used in an production application, apart from one thing: [setting a user on first

[2022-06-12 08:08] #45 closed

[2022-06-16 13:54] JonPSmith commented on #34
Version 3.3.0 of the AuthP provides one way via the [AzureAdNewUserManager](https://github.com/JonPSmith/AuthPermissions.AspNetCore/blob/main/AuthPermissions.SupportCode/AddUsersServices/Authentication/AzureAdNewUserManager.cs), but that won't work with AZure AD B2C with social logins.

[2022-06-16 14:01] #35 closed

[2022-06-16 14:02] #39 closed

[2022-06-16 21:26] idan-h opened #46 "Question about the design"
Hey, I have a question;
Why not extend microsoft's identity framework, instead of managing multiple tables in parallel?

(Ex. dbo.AspNetUsers - authp.AuthUsers)

You can use a custom user, add the roles etc, all in the same context, and then add the tenants and required extra tables and services

It makes the need of sync between those tables unnecessary, and the db much more normalized and less c

[2022-06-17 19:17] idan-h commented on #46
I think it clicked with me, Is it so that if you would want to move to another authentication provider it would be easier?

[2022-06-18 08:13] JonPSmith commented on #46
Yep, you are right. The Azure AD is a great authentication provider and I wanted to support. I also don't think you can alter microsoft's identity framework to cover all the things that the AuthP needs.

[2022-06-18 08:13] #46 closed

[2022-06-21 08:08] JonPSmith commented on #38
Hi @akema-trebla,

Version 3.3.0 is out now and merged into the `main` branch. It has some changes, but its mainly new code. I'm not working on the AuthP at he moment

[2022-06-22 06:38] akema-trebla commented on #38
Alright, thanks @JonPSmith

[2022-06-23 23:32] idan-h opened #49 "Code for minimal API's fluent HasPermission"
Hey, I wrote small piece of code to handle the `HasPermission` attribute fluently for minimal api.

Usage:
[code]

Extension method:
[code]

Which namespace you would like this method to go into? I think people who use minimal api might find it useful

[2022-06-25 09:47] JonPSmith commented on #49
Yes, that would be useful.

You should add the method into the [PermissionChecks](https://github.com/JonPSmith/AuthPermissions.AspNetCore/blob/main/AuthPermissions.BaseCode/PermissionsCode/PermissionChecks.cs) static class and add a test(s) in the [TestPermissionChecker](https://github.com/JonPSmith/AuthPermissions.AspNetCore/blob/main/Test/UnitTests/TestAuthPermissions/TestPermissionChecker.cs).

[2022-06-26 21:11] idan-h commented on #49
@JonPSmith Tried adding to that class, but couldn't because it depends on asp.net core.
Added in
`Test.UnitTests.TestAuthPermissionsAspNetCore.TestPermissionPolicy`
and
`AuthPermissions.AspNetCore.PolicyCode.PermissionExtensions`
instead

[2022-06-27 07:54] JonPSmith commented on #49
Hi @idan-h,

Yes, that was the correct thing to add it to the `AuthPermissions.AspNetCore.PolicyCode` namespace. I'm not planning a release straight away as I have a few other things to do.

[2022-06-27 07:54] #49 closed

[2022-07-13 10:18] idan-h opened #54 "Logical problem with IDisableJwtRefreshToken"
Hey, I have a logical problem with `IDisableJwtRefreshToken.MarkJwtRefreshTokenAsUsedAsync`.
Lets say a user logs in, and the access token is valid for 30 minutes. Then, after 10 minutes the user logs in from another machine and creates another refresh token.
Now, he logs out of the first login, and instead of disabling the first login refresh token, the second login refresh token gets disabled. T

[2022-07-14 08:08] JonPSmith commented on #54
Hi @idan-h,

Yes I can see that is a problem. I think if I use the JWT Token as well it might work, but need to do some research first.

[2022-07-28 08:34] JonPSmith commented on #54
Hi @Idan-h,

I got some time to look at this and looked at [Rui Figueiredo](https://www.blinkingcaret.com/2018/05/30/refresh-tokens-in-asp-net-core-web-api/) article [Refresh Tokens in ASP.NET Core Web Api](https://www.blinkingcaret.com/2018/05/30/refresh-tokens-in-asp-net-core-web-api/) and he says.

From that I can't create a generic answer to the JWT refresh token. In this case you will need to

[2022-07-28 13:00] idan-h commented on #54
We can add 'CreatedByRefreshToken' property to the refresh token entity which contains the refresh token which created the current one, and when logging out revoke all the related tokens recursively.
This way we support multiple loggins at the same time which might be a desired thing.

[2022-07-29 15:13] JonPSmith commented on #54
Hi @idan-h,

That is a great solution to the multi-user problem. I have reopened this issue so that when I update the library I will implement that change. I may create a preview version of the NuGet for you to check.

There is already a `IDisableJwtRefreshToken` service, but it wasn't in the documentation - [it is now](https://github.com/JonPSmith/AuthPermissions.AspNetCore/wiki/Using-JWT-Tokens#

[2022-07-29 16:48] idan-h commented on #54
Great, let me know if you need help
I meant, adding a function with parameter to the IDisableJwtRefreshToken service, which specifies the refresh token to revoke.

[2022-08-09 06:13] SalehBagheri opened #56 "Is there any way to add a user in multiple tenants with different levels of permissions in each tenant?"
We have a private forum with multiple chat groups (tenants) and we have an intermediate-level moderator that has access to 5 or more chat groups, with different levels of permission. He has "modify and remove" permissions in 2 chat groups and is a normal user in other chat groups. How is it possible to implement it with this library?

[2022-08-09 13:28] JonPSmith commented on #56
Hi @SalehBagheri,

I'm pretty sure this library can't help you. I say that because a user can't be in control of other groups (tenants) and also be a normal user in another group.

That's because of the "a user can only have one tenant" limitation (see the end of the [Roadmap](https://github.com/JonPSmith/AuthPermissions.AspNetCore/discussions/2). If that limitation was taken away it might be poss

[2022-08-09 13:28] #56 closed

[2022-08-15 08:15] hassanrazakhalid opened #57 "Can this library work with microservice based solution"
Hi
This is not a bug. i just want to verify one use-case. I have 3-4 services and a single authentication service. I need multi-tenancy support in all of them. Will this library be suitable in this scenario and where i can find examples or blogs related to this. Thanks.

[2022-08-16 07:57] JonPSmith commented on #57
Hi @hassanrazakhalid,

To make this work with microservices you will need

- The AuthP Roles rely on what I call `Permissions` (see [Permissions explained](https://github.com/JonPSmith/AuthPermissions.AspNetCore/wiki/Permissions-explained) doc). You will need to create a project containing the Permissions and every microservices must access this project.
- Your single authentication service will n

[2022-08-16 07:57] #57 closed

[2022-08-25 17:47] ebasattend commented on #38
Hi @akema-trebla,

When do you think will you finish with the  Blazor example?
I can't wait to see the example!! :)

[2022-08-29 11:44] akema-trebla commented on #38
Hi @ebasattend

Sorry for the delay. I actually had to put work on hold for a while.
I resume today and I'll get back to this towards the end of the week.

Cheers!

[2022-09-16 14:13] ebasattend commented on #38
Hi @akema-trebla,
Any news on this?

[2022-09-20 13:38] idan-h opened #58 "Error localization / translation feature request"
Hey, I would like to help refactor the errors in a way that will enable easy translation.
We can return error code with parmeters instead of string, or use microsoft localization methods.

[2022-09-22 09:00] JonPSmith commented on #58
Hi @idan-h,

I already have a library called [EfCore.GenericServices.AspNetCore](https://github.com/JonPSmith/EfCore.GenericServices.AspNetCore) that can convert the errors in a `IStatusGeneric` return into the ASP.NET Core `Model` or a ASP.NET Core Web API - see [this article](https://www.thereformedprogrammer.net/how-to-write-good-testable-asp-net-core-web-api-code-quickly/) on how it works.

Al

[2022-09-24 08:58] JonPSmith commented on #58
Hi @idan-h,

I tried the static class for translation but I didn't like it at all, especially when the error message had dynamic parts. So, no I don't want that added to the AuthP library.

If you really want to do something, then creating an example of using the AuthP library with a Blazor frontend is people are asking for. @akema-trebla was looking at this (see issue #38), but think @akema-trebl

[2022-09-24 15:05] idan-h commented on #58
I might do that in the future as I am working on blazor wasm project.

I didn't see any implementation of status code of some kind.. Maybe I'm missing something?

Maybe we can add an optional parmeter to the error objects in IStatusGeneric which accepts an Enum or an Integer, which will contain the error code. This way translation will still be easier than looking at the code to find every possibl

[2022-09-26 08:04] JonPSmith commented on #58
That would be great!

You have a point, but its not trivial to create a easy-to-use localization . I'm busy at the moment but I will look at this later.

[2022-09-27 11:51] akema-trebla commented on #58
Hi @JonPSmith

Pardon my tardiness. Yes, I've been quite busy and not been able to deliver as quickly as I'd like. I however have the API implemented and should probably push that.

I made an adjustment to the way we add query filters though, to allow for multiple filters on an entity. Probably should make this a separate issue.

@idan-h how far have you gone with the Blazor sample? Maybe you coul

[2022-09-27 11:57] idan-h commented on #58
I didn't start yet, where did you left off?

[2022-09-27 12:00] idan-h commented on #58
Its not very complicated tbh, pretty straight forward with IStringLocalizer and resx files

[2022-09-28 11:04] JonPSmith commented on #58
Hi @akema-trebla,

Glad to hear from you. No problem on taking some time on this as no one is getting paid for this. It would be nice if you could add a comment on the original #38 issue on your progress. Also, if you have questions, then use the #38 issue and not this issue.

If the multiple filters feature is only in your Web API backend project, then that's fine but it mustn't change any of the

[2022-09-28 11:25] JonPSmith commented on #58
Hi @idan-h,

I said "its not trivial to create a <ins>easy-to-use</ins> localization".

[2022-09-29 15:56] akema-trebla commented on #38
Hi @ebasattend

I've been quite busy but I've been able to complete the WebApi and it's left with the Blazor WASM side.

I'll submit the pull request as is for now so it gives you a starting reference. Seems I'll be getting some help from @idan-h so hopefully it should be completed soon.

[2022-10-03 08:51] idan-h commented on #58
How do you define easy to use?

Does the resx solution combined with dependency injection (IStringLocalizer) suits you?

[2022-10-03 12:46] idan-h commented on #54
Hey, #60 solves it without the recursive part (it might be unnecessary), just by adding option to specify the token.

[2022-10-24 16:59] ebasattend commented on #38
Hello, again guys any news on blazor sample?

[2022-10-27 19:39] JonPSmith commented on #38
@akema-trebla has created [a PR of the backend part](https://github.com/JonPSmith/AuthPermissions.AspNetCore/pull/59) about a month ago, but we agreed that its not worth merging until he has build Blazor part is finished.

[2022-11-04 19:56] MahmudX opened #64 "Create a demo using JWT and Cookie both"
I haven't found any **good** tutorial that demonstrate how to use both JWT and Cookie based authentication in a standard way.

A demo project with detailed article would be great.

[2022-11-05 09:28] JonPSmith commented on #64
Hi @MahmudX,

There are two ways to read your question:

#### Authentication using BOTH JWT and Cookie authentication

This is very rare you need both, but Rick Strahl has [this article](https://weblog.west-wind.com/posts/2022/Mar/29/Combining-Bearer-Token-and-Cookie-Auth-in-ASPNET)

#### Good tutorials of either JWT or Cookie authentication

There are loads of good tutorials on this. Here are two

[2022-11-05 09:28] #64 closed

[2022-11-05 19:32] akema-trebla commented on #38
Thanks @JonPSmith  for providing the update. I just noticed you've completed the feature to change claims for the JWT.

I'll take a look and see what changes need to be made so I can add the frontend.

@ebasattend  As @JonPSmith stated you can find the backend under the closed PRs as a starting reference. We'd agreed to merge after the frontend was added and after the claims change feature was imp

[2022-11-16 21:07] pwojee opened #67 "Startup failing with EF Core 7"
I have EF Core 7 referenced in my project and it seems that AuthP is breaking with this new version.

fail: AuthPermissions.AspNetCore.StartupServices.StartupServiceMigrateAuthPDatabase[0]
      An error occurred while creating/migrating the SQL database.
      System.MissingMethodException: Method not found: 'Microsoft.EntityFrameworkCore.Migrations.Operations.Builders.OperationBuilder`1<Microsof

[2022-11-17 11:24] JonPSmith commented on #67
Yes, I haven't updated AuthP to .NET 7 yet. I had to updated other libraries I need to .NET 7 first. I will update soon, but it is very big job.

I'll let you know when I have updated it.

[2022-11-21 14:52] JonPSmith commented on #67
I have just released version 4.0.0 that supports .NET 6 and .NET 7.

[2022-11-21 14:52] #67 closed

[2022-11-21 15:18] pwojee commented on #67
Thank you!

[2022-11-21 17:01] fdonnet opened #68 "User who has rights in several tenants"
Hello,

What a great, precise and clear job you did to build this multi-tenant permissions system.

I m trying to read your code an I have a question about the AuthUser and his tenant attribution. I can be competly wrong but it seems you always need to attach a "standard/normal" user to one tenant max (or tenant hierarchy).

And my question: can we imagine a case, when an external contractor will

[2022-11-22 10:56] JonPSmith commented on #68
Hi @fdonnet,

You are correct, this library doesn't support a user logging into more than one tenant. In fact, the client that asked me to design / build a multi-tenant app needed this feature because a person might work in two shops, but it was a real pain to implement. It needed a pre-login stage for users that have access to more than one tenant to select which tenant they want to log into, and

[2022-11-22 10:56] #68 closed

[2022-11-22 12:17] fdonnet commented on #68
thx for your return. And sry that I didn't see #56 where my question was already discussed before ;)

[2022-11-22 13:25] JonPSmith commented on #68
No problem. I gave more information because your question was so clear.